# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3

# Virtual environment
venv/
.env/
.venv/

# Node.js / frontend
node_modules/
build/

# Datasets & logs
ml/dataset/*
ml/retrain_data/*
!ml/dataset/.gitkeep
!ml/retrain_data/.gitkeep

# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store
